--swiftversion 5.0
--minversion 0.54

# File options
--exclude DerivedData,.build,build

# Format options
--indent 4
--tabwidth 4
--maxwidth 120
--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--wrapconditions after-first
--closingparen balanced
--funcattributes prev-line
--typeattributes prev-line
--varattributes same-line
--storedvarattrs same-line
--computedvarattrs same-line
--complexattrs prev-line
--enumnamespaces always
--extensionacl on-declarations
--guardelse next-line
--importgrouping alpha
--modifierorder
--operatorfunc spaced
--self init-only
--semicolons never
--stripunusedargs closure-only
--trimwhitespace always
--voidtype void
--ifdef no-indent
--xcodeindentation disabled
--header strip

# Rules
--enable isEmpty
--enable sortImports
--enable anyObjectProtocol
--enable blankLinesBetweenScopes
--enable consecutiveBlankLines
--enable consecutiveSpaces
--enable duplicateImports
--enable elseOnSameLine
--enable emptyBraces
--enable leadingDelimiters
--enable redundantBreak
--enable redundantExtensionACL
--enable redundantFileprivate
--enable redundantGet
--enable redundantInit
--enable redundantLet
--enable redundantNilInit
--enable redundantObjc
--enable redundantParens
--enable redundantPattern
--enable redundantRawValues
--enable redundantReturn
--enable redundantSelf
--enable redundantType
--enable redundantVoidReturnType
--enable sortImports
--enable spaceAroundBraces
--enable spaceAroundBrackets
--enable spaceAroundComments
--enable spaceAroundGenerics
--enable spaceAroundOperators
--enable spaceAroundParens
--enable spaceInsideBraces
--enable spaceInsideBrackets
--enable spaceInsideComments
--enable spaceInsideGenerics
--enable spaceInsideParens
--enable strongOutlets
--enable trailingCommas
--enable trailingSpace
--enable wrapArguments
--enable wrapAttributes
