<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>DatadogClientToken</key>
	<string>$(DD_CLIENT_TOKEN)</string>
	<key>DatadogApplicationID</key>
	<string>$(DD_APPLICATION_ID)</string>
	<key>DatadogSite</key>
	<string>$(DD_SITE)</string>
</dict>
</plist>
